
/* Navigation */
#navbar{
    flex-direction: column;

}
#logo{
    margin: -23px 0px;
    margin-bottom: -39px;
}
#navbar ul{
    margin-bottom: 36px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;
    color: white;
    
    /* color: brown;
    display: block;
    padding: 0px -1px;
    margin: -21px 2px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder; */
}
/* service section */
#services{
    display: flex;
    flex-direction: column;
  }

  #home{
    font-size: 3rem;
    padding: 0px 0px;
  }
  #home.h1{
    /* font-size: 22px; */
    margin-top: 65px;
    padding: 0px;
    color: white;
    text-align: center;
    font-family: 'Baloo Bhaijaan 2', cursive;

  }
  .h-primery{
    font-size: 22px;
  }
  #clients{
    flex-wrap: wrap;
  }
  #clients img{
    width: 66px;
    padding: 0px 0px;
  }